@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class=" container">
        <img alt="Pin by syvannah sutton on fine arts | Wonder woman comic, Wonder woman,  Wonder woman art" class="n3VNCb" src="https://i.pinimg.com/originals/4f/2d/4a/4f2d4a3a886b4092b1a2ae60ce6635cc.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 278px; height: 350px; margin: 0px;">
    </div>
</div>
